#kasper-manager, #kasper-configure {
	--button-background-color: var(--palette-primary, rgba(255, 255, 240, 0.8));
	--button-border-color: var(--palette-primary-outline, var(--color-border-light-primary));
	--button-foreground-color: var(--palette-primary-contrast, var(--color-text-dark-primary));
	--list-background-color: rgba(0, 0, 0, 0.1);
	--border-radius: 0.25rem;
}

@mixin range-track-thumb-styles {
	background: rgba(0, 0, 0, 0.1);
	border-radius: 0px;
	border-width: 0px;
	box-shadow: none;
	height: 16px;
}

@mixin range-thumb-styles {
	-webkit-appearance: none;
	width: 16px;
	height: 16px;
	background: var(--color-text-hyperlink);
	box-shadow: -100vw 0 0 100vw var(--color-text-hyperlink);
	border-width: 0px;
}

@mixin kasper-input-range {
	ul {
		background-color: var(--list-background-color);
		border: 1px solid var(--button-border-color);
		border-bottom-left-radius: var(--border-radius);
		border-bottom-right-radius: var(--border-radius);
		list-style: none;
		margin: 0;
		padding: 0.5rem;

		> li {
			background-color: var(--button-background-color);
			border: 1px solid var(--button-border-color);
			border-radius: var(--border-radius);
			color: var(--button-foreground-color);
			display: flex;

			div.form-group {
				flex-grow: 1;
				margin: 0;
				overflow: hidden;
				padding: 0.5rem 0.5rem 0rem;
				position: relative;
				text-align: center;

				> div {
					align-items: center;
					display: flex;
					flex-direction: row;

					i {
						flex: 0 1;
						margin-right: 0.25rem;
					}

					label {
						display: block;
						flex: 1 0 auto;
						font-size: 1.15rem;
						font-weight: 600;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
	
						&[contenteditable="true"]:focus-visible {
							outline: none;
							box-shadow: 0 0 5px var(--color-shadow-primary);
						}
					}

					i + label {
						text-align: left;
					}
				}

				input[type="range"] {
					-webkit-appearance: none;
					border-radius: var(--border-radius);
					border-width: 0px;
					cursor: pointer;
					flex: 1 0 auto;
					height: 16px;
					margin: auto;
					overflow: hidden;
					position: relative;
					width: 100%;

					/* Styles for webkit-based browsers (Chrome, Safari) */
					&::-webkit-slider-runnable-track {
						@include range-track-thumb-styles;
					}
					&::-webkit-slider-thumb {
						@include range-thumb-styles;
					}

					/* Styles for Firefox */
					&::-moz-range-track {
						@include range-track-thumb-styles;
					}
					&::-moz-range-thumb {
						@include range-thumb-styles;
					}

					/* Foundry doesn't have a foucs-visible state for input range */
					&:focus-visible {
						box-shadow: 0 0 5px var(--color-shadow-primary);
					}
				}

				p.notes {
					font-size: 0.75rem;
					line-height: 0.75rem;
					margin: 0;
				}

				nav#context-menu {
					font-size: var(--font-size-14);
					text-align: left;
				}
			}

			button[data-action] {
				background-color: transparent;
				border-radius: 0px;
				border-width: 0px;
				flex: 0 0 30px;
				font-size: 1rem;
				min-width: 30px;
				margin: 0px;
				max-width: 30px;
				padding: 0rem;

				i {
					margin: 0;
				}
			}
			button[data-action="sortable"] {
				border-right: 1px solid var(--button-border-color);
				order: -2;
			}
			button[data-action="decrease"] {
				border-right: 1px solid var(--button-border-color);
				order: -1;
			}
			button[data-action="increase"] {
				border-left: 1px solid var(--button-border-color);
				order: 1;
			}
		}

		> li:not(:last-child) {
			margin-bottom: 0.25rem;
		}
	}
}

input[type=range]:focus::-webkit-slider-runnable-track {
    box-shadow: 0 0 5px var(--color-shadow-primary);
}
input[type=range]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 5px var(--color-shadow-primary);
}
input[type=range]:focus::-moz-range-track {
    box-shadow: 0 0 5px var(--color-shadow-primary);
}
input[type=range]:focus::-moz-range-thumb {
    box-shadow: 0 0 5px var(--color-shadow-primary);
}

#kasper-manager {
	max-width: var(--sidebar-width);
	min-width: var(--sidebar-width);

	// Personal Preference
	// Remove the padding from the .window-content class
	.window-content {
		padding: 0px;

		.dragover div.action-buttons > button {
			background-color: transparent;
    		border-style: dashed;
		}
	}

	main {
		.sortablejs-reputation:not(:has(> section)) {
			background: transparent url(../assets/logo.gif) no-repeat center center;
			background-origin: content-box;
			background-size: contain;
			min-height: 315px;
			opacity: 0.5;
			padding: 3rem;
		}

		section {
			margin: 0.5rem;

			[data-action="sortable"] {
				cursor: grab;
			}

			header {
				background-color: var(--button-background-color);
				border: 1px solid var(--button-border-color);
				border-bottom: 2px solid var(--color-underline-header);	
				border-top-left-radius: var(--border-radius);
				border-top-right-radius: var(--border-radius);
				color: var(--button-foreground-color);
				display: flex;
				flex-direction: row;

				&:has(#context-menu) h1 {
					white-space: nowrap;
				}

				> div {
					align-items: center;
					display: flex;
					flex: 1 0;

					i {
						margin: 0px 0.25rem;
					}

					h1 {
						align-self: center;
						border-width: 0px;
						flex: 1 0;
						font-weight: 600;
						order: 0;
						overflow: hidden;
						margin: 0px;
						padding: 0.5rem 0.25rem;
						text-align: center;
	
						&[contenteditable="true"]:focus-visible {
							outline: none;
							box-shadow: 0 0 5px var(--color-shadow-primary);
						}
	
						&:not(:focus-within) {
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
	
						nav#context-menu {
							font-size: var(--font-size-14);
							text-align: left;
						}
					}

					i + h1 {
						text-align: left;
					}
				}

				button[data-action] {
					background-color: transparent;
					border-radius: 0px;
					border-width: 0px;
					flex: 0 1 30px;
					font-size: 1rem;
					margin: 0px;
					min-width: 30px;
					padding: 0rem;

					i {
						margin: 0;
					}
				}
				button[data-action="sortable"] {
					border-right: 1px solid var(--button-border-color);
					order: -1;
				}
				button[data-action="add-faction"] {
					border-left: 1px solid var(--button-border-color);
					order: 1;
				}
			}

			@include kasper-input-range;
		}
		
		div.action-buttons {
			padding: 0.5rem;

			button[data-action="add-reputation"] {
				border-radius: var(--border-radius);
			}
		}
	}


}
#sidebar #kasper-manager,
#kasper-manager.minify {
	button {
		font-size: 1rem !important;
	}

	main section header {
		border-bottom-width: 0px;

		h1 {
			font-size: 1.15rem;
			line-height: normal;
		}
	}

	main section ul {
		padding: 0;

		li {
			border-radius: 0;
			border-width: 0px;
			border-top-width: 1px;
			margin: 0px;

			div.form-group {
				line-height: normal;
				max-width: none;
				padding: 0.25rem 0.5rem;
				position: relative;
				text-align: left;

				label {
					font-size: 1rem;
				}
				p.notes {
					bottom: 8px;
					color: var(--color-text-light-highlight);
					height: 16px;
					left: 1rem;
					line-height: 20px;
					pointer-events: none;
					position: absolute;
					text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
				}
			}
		}
		li:last-child {
			border-bottom-left-radius: var(--border-radius);
			border-bottom-right-radius: var(--border-radius);
		}
	}
}

#sidebar #kasper-manager {
	left: auto !important;
	height: auto !important;
	min-width: auto;
	position: relative !important;
	top: auto !important;
	width: auto !important;

	background-image: none;
	box-shadow: none;
	margin-bottom: -3px;

	header.window-header{
		background-color: var(--color-border-dark-3);
		border-bottom: 1px solid var(--color-border-dark);
		border-top: 1px solid var(--color-border-dark);
		cursor: default;
		text-align: left;
		
		a {
			display: none !important;
		}
	}

	.window-content {
		background-image: none;
		max-height: calc(50vh - 100px);

		color: var(--color-text-light-highlight);

		main section {
			header {
				background-color: var(--color-border-dark-3);
				border-color: var(--color-border-dark-1);
				color: var(--color-text-light-highlight);
			}
			
			ul {
				background-color: var(--color-border-dark-3);
				border-color: var(--color-border-dark-1);
	
				> li {
					background-color: var(--color-border-dark-3);
					border-color: var(--color-border-dark-1);
					color: var(--color-text-light-highlight);
				}
			}
					
			button[data-action] {
				border-color: var(--color-border-dark-1);
				color: var(--color-text-light-highlight);
			}
		}

		main div.action-buttons {
			padding: 0rem 0.5rem;
			button[data-action] {
				margin: 0px;
			}
		}
	}
}

#kasper-configure main {
	section.preview {
		margin: 0.5rem;

		@include kasper-input-range;
	}

	section.tiers {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}

		li.header .form-group .form-fields { 
			input[type="text"] {
				background: transparent;
				border-radius: 0px;
				border-width: 0px;
				border-bottom: 1px solid var(--color-underline-header);
				font-weight: bold;
			}

			input[type="text"]:first-child {
				flex: 0 1 100px;
				text-align: center;
			}
		}

		li .form-group .form-fields {
			gap: 0px;

			input[type="number"] {
				border-radius: var(--border-radius);
				border-top-right-radius: 0px;
				border-bottom-right-radius: 0px;
				flex: 0 1 100px;
				text-align: center;
			}

			input[type="text"] {
				border-radius: 0;
			}

			button {
				border-radius: var(--border-radius);
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
				border: 1px solid var(--color-border-light-tertiary);
				margin: 0px;

				i {
					margin: 0px;
				}
			}
		}

		li:not([data-tier]) {
			border-top: 2px solid var(--color-underline-header);
			margin-top: 0.5rem;
    		padding-top: 0.25rem;
		}
	}

	footer {
		padding-top: 8px;
	}
}


/* Add Support for PF2e Dorako UI */
#kasper-manager, #kasper-configure {
	&.dorako-ui.dark-theme {
		--button-background-color: var(--palette-primary, var(--glass-bg));
		--button-border-color: var(--palette-primary-outline, var(--tertiary, var(--color-border-light-primary)));

		.window-content {
			box-shadow: none;
		}

		/* REMOVE DORAKO BOX SHADOW FROM BUTTONS TO ALLOW GOLDEN BORDER */
		main section {
			border-image-repeat: repeat;
			border-image-slice: 11;
			border-image-source: var(--ornamentation);
			border-image-width: 14px;
			border-style: double;

			header, ul {
				background-color: transparent;
    			border-color: transparent;
			}

			header {
				border-bottom: 2px solid var(--button-border-color);
			}

			[contenteditable="true"] {
				&:hover {
					background-color: var(--secondary-dark);
					color: var(--color-text-light-highlight);
				}
				&:focus-within {
					background-color: var(--secondary);
					color: white;
				}
			}

			 button[data-action] {
				box-shadow: none;

				&:hover {
					background-color: var(--primary);
					color: var(--color-text-light-highlight);
				}
			}

			ul > li div.form-group input[type=range]::-webkit-slider-runnable-track {
				background-color: rgba(255 255 255 / 10%);
			}
			ul > li div.form-group input[type=range]::-moz-range-track {
				background-color: rgba(255 255 255 / 10%);
			}
		}
	}
}